.rounded-md {
  border-radius: 0.375rem;
}
.italic {
  font-style: italic;
}

.decoration-wavy {
  text-decoration-style: wavy;
}
.decoration-yellow-500 {
  text-decoration-color: #ffd700;
}

.suggestion-word-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.suggestion-word {
  border: 1px solid #d1d6db;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  color: #364153;
  cursor: pointer;
}

.suggestion-word.selected {
  border-color: #81b7f6;
  color: #81b7f6;
  font-weight: bold;
  background-color: #f0f9ff;
}

.border-gray-300 {
  border: 1px solid #d1d6db;
}

.text-gray-700 {
  color: #364153;
}

.placeholder:text-gray-400 {
  color: #9ca3af;
}